* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #000;
}

.block {
  padding: 10px;
  border: solid 1px #e75551;
}

.out {
  background-color: #308dc0;
  width: 350px;
  margin: 20px;
  margin-bottom: 40px;
}

.middle {
  background-color: #ffa500;
}

.inside {
  background-color: #ddd;
}
